<launch>

	<!-- Pioneer -->
	<include file="$(find pioneer)/launch/pioneer.launch">
		<arg name="sensors" value="$(find pioneer)/launch/sensors_pioneer_inflation.launch" />
	</include>

	<!-- Map file -->
	<arg name="map_name" default="$(env HOME)/map/map.yaml"/>

	<!-- Map server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_name)" >
		<param name="frame_id" value="/map" />
	</node>

	<!-- AMCL -->
	<node pkg="amcl" type="amcl" name="amcl">
		<remap from="scan" to="base_scan"/>    
		<remap from="static_map" to="/static_map" /> 
		<remap from="map" to="/map" />
		<rosparam file="$(find pioneer)/param/amcl/amcl.yaml" command="load" />
	</node>

</launch>

