<launch>

	<!-- Map file -->
	<arg name="map_name" default="$(find pioneer)/maps/printer.yaml"/>

	<!-- Pioneer -->
	<include file="$(find pioneer)/launch/pioneer.launch"/>

	<!-- Map server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_name)" >
		<param name="frame_id" value="/map" />
	</node>

	<!-- AMCL -->
	<include file="$(find pioneer)/launch/amcl.launch"/>

</launch>

