<launch>

	<!-- Pioneer -->
	<include file="$(find pioneer)/launch/pioneer.launch">
		<arg name="mode" value="mapping" />
	</include>

	<!-- SLAM mapping nodes -->
	<node pkg="gmapping" type="slam_gmapping" name="gmapping">
		<remap from="scan" to="base_scan"/>
		<rosparam file="$(find pioneer)/param/gmapping/gmapping.yaml" command="load" />
	</node>

</launch>
