<launch>

	<!-- Move base -->
	<include file="$(find pioneer)/launch/move_base.launch"/>

	<!-- Waypoint navigation -->
	<node pkg=" pioneer" type="base_link_navigation_client" name="base_link_goal_client" output="screen"/>
	<node pkg=" pioneer" type="map_navigation_client" name="map_goal_client" output="screen"/>

</launch>

