<launch>

	<!-- Rosaria -->
	<node pkg="rosaria" type="RosAria" name="RosAria" output="screen">
		<param name="port" value="/dev/rosaria" />
		<remap from="/RosAria/cmd_vel" to="/cmd_vel"/>
	</node>

	<!-- Sensors -->
	<include file="$(find pioneer)/launch/sensors.launch"/>

	<!-- Move base -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find pioneer)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find pioneer)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find pioneer)/param/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find pioneer)/param/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find pioneer)/param/base_local_planner_params.yaml" command="load" />
		<rosparam file="$(find pioneer)/param/global_planner_params.yaml" command="load" />
	</node>

	<!-- Description -->
	<include file="$(find pioneer)/launch/description.launch"/>

</launch>
