<launch>

	<!-- Sensors launch file -->
	<arg name="sensors" default="$(find pioneer)/launch/sensors.launch"/>
	<arg name="mode" default="localization"/>

	<!-- Rosaria -->
	<node pkg="rosaria" type="RosAria" name="RosAria" >
		<param name="port" value="/dev/rosaria" />
		<remap from="/RosAria/cmd_vel" to="/cmd_vel"/>
	</node>

	<!-- Sensors -->
	<include file="$(arg sensors)"/>

	<!-- Move base -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" >
		<rosparam file="$(find pioneer)/param/movebase/$(arg mode)/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find pioneer)/param/movebase/$(arg mode)/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find pioneer)/param/movebase/$(arg mode)/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find pioneer)/param/movebase/$(arg mode)/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find pioneer)/param/movebase/$(arg mode)/base_local_planner_params.yaml" command="load" />
		<rosparam file="$(find pioneer)/param/movebase/$(arg mode)/global_planner_params.yaml" command="load" />
	</node>

	<!-- Description -->
	<include file="$(find pioneer)/launch/description.launch"/>

</launch>
