<launch>

	<!-- Robot sensor transforms -->
	<node pkg="pioneer" type="odometry_publisher" name="odometry_publisher"/>
	
	<!-- RPLidar -->
	<node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
		<param name="serial_port"         type="string" value="/dev/rplidar"/>  
		<param name="serial_baudrate"     type="int"    value="115200"/>
		<param name="frame_id"            type="string" value="laser"/>
		<param name="inverted"            type="bool"   value="false"/>
		<param name="angle_compensate"    type="bool"   value="true"/>
	</node>
	
	<!-- Frame transforms -->
	<node pkg="pioneer" type="laser_tf_broadcaster" name="laser_tf_broadcaster"/>
	<node pkg="pioneer" type="laser_publisher.py" name="laser_publisher" output="screen">
		<param name="split_distance_threshod" value="0.50" />
		<param name="hits" value="10" />
		<param name="robot_radius" value="0.30" />
		<param name="max_range" value="1.5" />
	</node>
	
</launch>
